/*!*******************************************************************************************************************************************************************************************************************************************************************************!*\
  !*** css ../node_modules/next/dist/build/webpack/loaders/css-loader/src/index.js??ruleSet[1].rules[12].oneOf[7].use[2]!../node_modules/next/dist/build/webpack/loaders/postcss-loader/src/index.js??ruleSet[1].rules[12].oneOf[7].use[3]!./app/ui/styles/baseNode.module.css ***!
  \*******************************************************************************************************************************************************************************************************************************************************************************/
.baseNode_simple_node__0GDG2 {
  border: 1px solid black;
  padding: 8px;
  padding-left: 12px;
  padding-right: 12px;
  border-radius: 5px;
  background: white;
}

.baseNode_simple_selected_node__GF2KK {
  border: 2px solid black;
  padding: 8px;
  padding-left: 12px;
  padding-right: 12px;
  border-radius: 5px;
  background: rgb(242, 240, 240);
}

.baseNode_group_list__1zLXR {
  padding: 0;
  list-style-type: none;
}

.baseNode_item_list__tvv_i {
  padding: 5px;
}

/*!**************************************************************************************************************************************************************************************************************************************************************************************!*\
  !*** css ../node_modules/next/dist/build/webpack/loaders/css-loader/src/index.js??ruleSet[1].rules[12].oneOf[7].use[2]!../node_modules/next/dist/build/webpack/loaders/postcss-loader/src/index.js??ruleSet[1].rules[12].oneOf[7].use[3]!./app/ui/styles/nodeContextMenu.module.css ***!
  \**************************************************************************************************************************************************************************************************************************************************************************************/
.nodeContextMenu_external_container__QSz3W {
  position: absolute;
  z-index: 1000;
  background-color: white;
  border-style: solid;
  border-color: black;
  border-radius: 5px;
  cursor: default;
  border-width: 1px;
}

.nodeContextMenu_option_item__NA0Kx {
  padding: 10px;
  margin: 0px;
}

.nodeContextMenu_box__mMNbH:hover {
  border-radius: 5px;
  background: rgb(183, 183, 194); /* make this whatever you want */
}

/*!***************************************************************************************************************************************************************************************************************************************************************************!*\
  !*** css ../node_modules/next/dist/build/webpack/loaders/css-loader/src/index.js??ruleSet[1].rules[12].oneOf[7].use[2]!../node_modules/next/dist/build/webpack/loaders/postcss-loader/src/index.js??ruleSet[1].rules[12].oneOf[7].use[3]!./app/ui/styles/main.module.css ***!
  \***************************************************************************************************************************************************************************************************************************************************************************/
.main_root__ob0FQ {
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: sans-serif;
}

/*!*****************************************************************************************************************************************************************************************************************************************************************************!*\
  !*** css ../node_modules/next/dist/build/webpack/loaders/css-loader/src/index.js??ruleSet[1].rules[12].oneOf[7].use[2]!../node_modules/next/dist/build/webpack/loaders/postcss-loader/src/index.js??ruleSet[1].rules[12].oneOf[7].use[3]!./app/ui/styles/global.module.css ***!
  \*****************************************************************************************************************************************************************************************************************************************************************************/
.global_left_side_component__jmCrV {
  width: 30%;
  height: 100%;
  float: left;
  border-right: 2px;
  border-left: 0px;
  border-color: black;
  border-style: solid;
  border-top: 0px;
}

.global_right_side_component__tznlb {
  float: left;
  width: 69%;
  height: 100%;
}

.global_informative_snackbar__W4HFA {
  width: 100%;
  padding: 15px;
  text-align: center;
  border-radius: 0px 0px 10px 10px;
  background: rgb(237, 237, 237);
  z-index: 10000;
}

.global_block__m6gjJ {
  padding: 10px;
  margin: 10px;
  border-radius: 7px;
  border-color: black;
  border-width: 2px;
  border-style: solid;
  cursor: default;
  -webkit-user-select: none; /* Safari */ /* IE 10 and IE 11 */
  -moz-user-select: none;
       user-select: none; /* Standard syntax */
  text-align: center;
  box-shadow: 2px 2px;
}

/* To change the color wher the cursor pass over */
.global_block__m6gjJ:hover {
  border-radius: 7px;
  background: rgb(227, 227, 227);
}

/* To animate when it is clicked */
.global_block__m6gjJ:active {
  transform: translateY(2px);
  box-shadow: 0 1px black;
}

