.block {
  padding: 10px;
  margin: 10px;
  border-radius: 7px;
  border-color: black;
  border-width: 2px;
  border-style: solid;
  cursor: default;
  -webkit-user-select: none; /* Safari */
  -ms-user-select: none; /* IE 10 and IE 11 */
  user-select: none; /* Standard syntax */
  text-align: center;
}

.block:hover {
  border-radius: 7px;
  background: rgb(227, 227, 227);
}
